<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
                언제든지 연락 주시면 기쁘게 답변하겠습니다!
            </p>
            <p class="paragraph-text justify-text">
                저에게 이메일로 연락주세요: thdwlgus258@naver.com</a>. 
            </p>
            <p class="paragraph-text justify-text">
                제 이력서는 여기에서 확인할 수 있습니다: <a href="resume/resume.pdf">PDF</a>, <a href="resume/resume.docx">DOC</a>
            </p>
        </div>
    </section>
</div>
