<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">
                    <!-- 카테고리 버튼을 All 하나만 남김 -->
                    <a id="all" class="semi-transparent-button with-border white-button white-button-hover" onclick="render_projects('all')">All</a>
                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>
