
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p class="paragraph-text center-align">
                        Java & Spring Framework: <br>
                        여러 프로젝트에서 Spring 프레임워크를 활용하여 백엔드 개발을 진행한 경험이 있습니다. Java 언어에 대한 이해를 바탕으로, Spring을 이용한 웹 애플리케이션 구축에 익숙합니다.
                        <br><br>
                        JSP: <br>
                        JSP를 이용한 웹 프로젝트 경험이 있으며, 서버 사이드 렌더링과 동적인 페이지 생성을 구현한 적이 있습니다.
                        <br><br>
                        Database & SQL: <br>
                        SQL 쿼리를 이용한 데이터베이스 프로젝트 경험이 있습니다. ERD 설계와 데이터베이스 구조 학습을 통해 데이터 모델링과 설계 능력을 키웠습니다.
                        <br><br>
                        HTML, CSS & JavaScript: <br>
                        HTML 요소를 다룬 경험이 있으나, 깊이 있는 학습은 부족합니다. CSS는 Bootstrap 및 여러 라이브러리들을 사용해 다양한 프로젝트에 적용한 경험이 있으며, JavaScript도 프로젝트를 통해 활용한 적은 있으나 심도 있는 학습은 이루어지지 않았습니다.
                    </p>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Technical</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>JAVA</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="85%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Spring</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="75%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>DATABASE</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->

                        
                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>JSP</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        
                        <div class="skillbar clearfix " data-percent="60%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>HTML</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        
                        <div class="skillbar clearfix " data-percent="60%">
                            <div class="skillbar-title" style="background: #2980b9"><span>CSS</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="60%">
                            <div class="skillbar-title" style="background: #2980b9"><span>JAVASCRIPT</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>